{{> header }}

<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ name }}
</h1>

<p>
  Bem vindo ao Projects Manager App!
</p>

<p>
  O seu Registro foi realizado com sucesso. Será um prazer tê-lo connosco!
</p>

<p>
  Será uma satisfação receber críticas e/ou segestões do que pode ser feito para
  melhorar a aplicação para o seu uso. Por favor, não hesite em nos contactar.
  <a href="mailto:mourabraz@hotmail.com">
    Pode usar meu email pessoal: mourabraz@hotmail.com
  </a>
</p>

{{> footer }}